@font-face {
    font-family: 'Open Sans';
    src: url('../../fonts/OpenSans-Regular.ttf');
    src: url('../../fonts/OpenSans-Regular.ttf') format('embedded-opentype');
    src: url('../../fonts/OpenSans-Regular.ttf') format('truetype');
}

body{
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/*custom*/
/*@import url(../../assets/fonts/sanfranciscotext/font.css);*/
