@model CarroManobradoViewModel
@{
    ViewBag.Title = "Cadastro de Carros manobrados";
}

@using (Html.BeginForm("Create", "CarroManobrado", FormMethod.Post, new { @id = "formCarroManobrado", enctype = "multipart /form-data" }))
{
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb pull-right">
                <li><a href="/CarroManobrado">Carro manobrado</a></li>
                <li class="active">Incluir</li>
            </ol>
            <h3 class="page-header">Carros manobrados <small>Cadastro de carros manobrados.</small></h3>
        </div>
        <div class="col-md-12">
            <div class="panel panel-inverse Shadow" data-sortable-id="form-validation-1">
                <div class="well">
                    <div id="step1" role="tabpanel" class="bwizard-activated" aria-hidden="false">
                        <fieldset>
                            <legend class="pull-left width-full">
                                Incluir
                            </legend>
                            <div class="row" style="display:block !important">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Carro: </label>
                                        @Html.DropDownListFor(x => x.IdCarro, (List<SelectListItem>)ViewBag.Carros, "Selecione", new { @Class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Tipo: </label>
                                        @Html.DropDownListFor(x => x.IdManobrista, (List<SelectListItem>)ViewBag.Manobristas, "Selecione", new { @Class = "form-control" })

                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <hr />
                        <div class="row">
                            <div class="pull-right">
                                <button type="submit" class="btn btn-primary m-r-5 m-b-5">
                                    <i class="fa fa-plus"></i>
                                    Incluir
                                </button>
                                <a href="@Url.Action("Index", "Carro")" class="btn btn-default m-r-5 m-b-5">
                                    <i class="fa fa-reply-all"></i>
                                    Voltar
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@section Scripts{
    <script src="~/js/View/Carro/create.js"></script>
}